# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/Rust/desktop.ini
/Java/desktop.ini
/Python/desktop.ini
/html/desktop.ini
/Powershell/desktop.ini